*{margin:0;padding: 0;}


h1{
    color: #8B0000;
    padding-top: 4%;
    font-size: 70px;
    font-family: 'Poiret One', cursive;
    position: absolute;
   
}

h2{
    color: rgb(155, 155, 155);
    padding-bottom: 5%;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
}
header{
    background:white;
    width: 100%;
    margin-left: 4px; 

}

section{
    padding-top: 10%;
}

p{
    font-family: 'Raleway', sans-serif;
}


li.nav-item{
    padding: 2px;
    
}


li.nav-item a:hover{
    color: grey;
}


.fotos span {
    font-size: 30px;
    position:absolute;
    bottom:-40px;
    left:0;
    right:0;
    background: rgba(0,0,0,0.3);
    color:white;
    padding:8px;
    line-height: normal;
    opacity: 0;
    transition: 1s;
}

.fotos a:hover span {
    opacity: 1;
    bottom: 0;
}

#contacto{
    background: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;

}


.work {
    border-bottom: grey 1px solid;
    text-align: center;
    padding: 0%;
}

nav{
    text-align: right;
    border-bottom: grey 1px solid;
    position: absolute;
}


.container{
   margin-top: 40px;
}